/* background and navbar */
$bg-color: #fff;
$my-black-color : #282b42;
$my-color-gray:#727483;

$navbar: #727483;

$text: #2e2e2e;

$link-about: rgb(37, 103, 152);

$color-border:#ebecf2;


/* intro and catch phrase */

$my-violet-color: #2c2fe8;
$darkviolet: darken($my-violet-color, 10%);
$darkgray:darken($my-color-gray, 30%);